Flask>=3.0,<4
flask-wtf==1.2.1,<2
gputil>=1.4,<2
psutil>=5.9,<6.1
bcrypt>=4.0.1,<5
watchdog>=3.0,<5
ldap3>=2.9,<3
pyasn1>=0.6.1,<0.7
pywin32>=306; sys_platform == 'win32'
flask-login>=0.6,<0.7
pyinstaller>=6.10,<7
requests>=2.31,<3
